# Set(to'plam)

In [12]:
my_set={1,2,3}

In [13]:
my_set

{1, 2, 3}

In [0]:
#Tartiblash xususiyati:sonlar, str

my_set={1,3,2}

In [15]:
my_set

{1, 2, 3}

In [0]:
#Duplicated elementlarni olib tashlash
my_set={1,'Python',3,2,'Python'}

In [19]:
my_set

{1, 2, 3, 'Python'}

In [20]:

my_set={1,3,2,(1,2)}

In [21]:
my_set

{(1, 2), 1, 2, 3}

In [22]:
my_set={1,3,2,[8,9]}

TypeError: unhashable type: 'list'

In [23]:
my_set

{(1, 2), 1, 2, 3}

In [24]:
my_set={1,3,2,(1,2),{1,2}}

TypeError: unhashable type: 'set'

In [25]:
a={1,2,3,4}

In [0]:
#list(append,)
a.add(5)
a

{1, 2, 3, 4, 5}

In [28]:
a.remove(5)

In [29]:
a

{1, 2, 3, 4}

In [0]:
#Element bor yoki yoqligini tekshirish
3.5 in a

False

In [32]:
#Union
a={1,2,4,5}
b={2,3,6,4}
a.union(b)

{1, 2, 3, 4, 5, 6}

In [33]:
#Intersection
a={1,2,4,5}
b={2,3,6,4}
a.intersection(b)

{2, 4}

In [34]:
b.intersection(a)

{2, 4}

In [35]:
#Difference
a={1,2,4,5}
b={2,3,6,4}
a.difference(b)

{1, 5}

In [36]:
b.difference(a)

{3, 6}

In [37]:
#Symmatric Difference
a={1,2,4,5}
b={2,3,6,4}
a.symmetric_difference(b)

{1, 3, 5, 6}

In [42]:
#Subset
a={1,2,3,4,5}
b={3,4}
b.issubset(a)

True

In [44]:
#Superset
a={1,2,3,4,5}
b={3,4}
a.issuperset(b)

True

In [45]:
#Uzunligi 
len(a)

5

In [46]:
#Tozlash
a.clear()

In [47]:
a

set()

# Qo'shimcha

In [49]:
help('for')

The "for" statement
*******************

The "for" statement is used to iterate over the elements of a sequence
(such as a string, tuple or list) or other iterable object:

   for_stmt ::= "for" target_list "in" starred_list ":" suite
                ["else" ":" suite]

The "starred_list" expression is evaluated once; it should yield an
*iterable* object.  An *iterator* is created for that iterable. The
first item provided by the iterator is then assigned to the target
list using the standard rules for assignments (see Assignment
statements), and the suite is executed.  This repeats for each item
provided by the iterator.  When the iterator is exhausted, the suite
in the "else" clause, if present, is executed, and the loop
terminates.

A "break" statement executed in the first suite terminates the loop
without executing the "else" clauseâ€™s suite.  A "continue" statement
executed in the first suite skips the rest of the suite and continues
with the next item, or with the "else" clause if there is no next
item.

The for-loop makes assignments to the variables in the target list.
This overwrites all previous assignments to those variables including
those made in the suite of the for-loop:

   for i in range(10):
       print(i)
       i = 5             # this will not affect the for-loop
                         # because i will be overwritten with the next
                         # index in the range

Names in the target list are not deleted when the loop is finished,
but if the sequence is empty, they will not have been assigned to at
all by the loop.  Hint: the built-in type "range()" represents
immutable arithmetic sequences of integers. For instance, iterating
"range(3)" successively yields 0, 1, and then 2.

Changed in version 3.11: Starred elements are now allowed in the
expression list.

Related help topics: break, continue, while

# Vazifa

In [0]:
#List
#1-dan 10-gacha bo'lgan sonlarni o'z ichiga olgan bir list yaratib, uni ekranga chiqaring
#1-dan 10-gacha bo'lgan sonlarni o'z ichiga olgan bir list yarating va faqat juft/toq sonlarni  uni ekranga chiqaring
# Istalgan list yarating va unga ["Mango", "Grapes", "Pineapple"] elementlarni qoshing
# Yuqorida qoshgan elemenlaringizni o'chiring 
#List uzunligini toping
#Berilgan listda eng katta va kichik sonni aniqlang:[10, 5, 3, 8, 20, 15]


# Set
# 1-dan 10-gacha bo'lgan sonlarni o'z ichiga olgan bir set yarating avval ular tartiblanmagan bo'lsin va  uni ekranga chiqaring
# Yangi set yarating va unga 'python' va 100ni qo'shing 
# Yuqorida qo'shilgan ifodalarni setdan olib tashlang 
# Setlar orasidagi umumiy elementlarni toping a = {1, 2, 3, 4} b = {3, 4, 5, 6}
# Setlarni birlashtiring a = {1, 2, 3, 4} b = {3, 4, 5, 6}
# Setlardagi takrorlanadigan elementlarni aniqlang a = {1, 2, 3, 4} b = {3, 4, 5, 6}

In [2]:
#1-dan 10-gacha bo'lgan sonlarni o'z ichiga olgan bir list yaratib, uni ekranga chiqaring
a = list((1, 2, 3, 4, 5, 6, 7, 8, 9))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
#1-dan 10-gacha bo'lgan sonlarni o'z ichiga olgan bir list yarating va faqat juft/toq sonlarni  uni ekranga chiqaring
i = 0
while i < len(a):
    print(a[i])
    i += 2

1
3
5
7
9

In [6]:
# Istalgan list yarating va unga ["Mango", "Grapes", "Pineapple"] elementlarni qoshing
ls = ["Mango", "Grapes", "Pineapple"]
new = a+ls
print(new)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'Mango', 'Grapes', 'Pineapple']

In [11]:
# Yuqorida qoshgan elemenlaringizni o'chiring 
for i in a:
    new.remove(i)
print(new)

['Mango', 'Grapes', 'Pineapple']

In [12]:
#List uzunligini toping
print(len(new))

3

In [19]:
#Berilgan listda eng katta va kichik sonni aniqlang:[10, 5, 3, 8, 20, 15]
num = [10, 5, 3, 8, 20, 15]
mi = num[0]
ma = num[0]
for i in range(1, len(num)):
    if mi >= num[i]:
        mi = num[i]
    elif ma <= num[i]:
        ma = num[i]
print("min =", mi, " ", 'max =', ma)

min = 3   max = 20

In [22]:
# 1-dan 10-gacha bo'lgan sonlarni o'z ichiga olgan bir set yarating avval ular tartiblanmagan bo'lsin va  uni ekranga chiqaring
sett = set((1, 4, 2, 3, 7, 5, 6, 9, 8))
print(type(sett))

<class 'set'>

In [23]:
# Yangi set yarating va unga 'python' va 100ni qo'shing 
sett.add('python')
sett.add(100)

print(sett)

{'python', 1, 2, 3, 4, 5, 6, 7, 8, 9, 100}

In [24]:
# Yuqorida qo'shilgan ifodalarni setdan olib tashlang 
sett.remove('python')
sett.remove(100)

print(sett)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [25]:
# Setlar orasidagi umumiy elementlarni toping a = {1, 2, 3, 4} b = {3, 4, 5, 6}
a = {1, 2, 3, 4} 
b = {3, 4, 5, 6}
inter = a.intersection(b)
print(inter)

{3, 4}

In [26]:
# Setlarni birlashtiring a = {1, 2, 3, 4} b = {3, 4, 5, 6}
a = {1, 2, 3, 4} 
b = {3, 4, 5, 6}
c = a.union(b)
print(c)

{1, 2, 3, 4, 5, 6}

In [27]:
# Setlardagi takrorlanadigan elementlarni aniqlang a = {1, 2, 3, 4} b = {3, 4, 5, 6}
a = {1, 2, 3, 4} 
b = {3, 4, 5, 6}
inter = a.intersection(b)
print(inter)

{3, 4}